@import "tailwindcss";

/* Styling Scroll Bar */
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff6b6b, #556270); /* Gradient effect */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff4e50, #556270);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
